@{
    ViewData["Title"] = "Home Page";
}
<style>

</style>
<div class="text-center col-md-12" style="background-image: url(/images/GradientMain.svg)">
    <div class="row" style="position: relative">
        <div class="col-md-5" style="text-align:left; font-family: Corbel; ">
            <div style="display: table; height: 100%">
                <div style="display:table-cell; vertical-align:middle">
                    <p style="font-weight:500; font-size:3vw; color: #0053AD;">Zachowaj zdrowie z naszą aplikacją</p>
                    <p style="font-weight:400; font-size:2vw;">Skorzystaj z pomocy naszych fachowców i śledź sowje postępy</p>
                    <a class="btn btn-primary" style="font-size: 1.5vw" href="/identity/Account/Register" role="button">Dołącz do nas</a>
                </div>
            </div>
        </div>
        <div class="col-md-7"><img style="width: 80%;" src="~/images/MainPage.svg" /></div>
        <div class="col-md-12"><img style="width: 100%;" src="~/images/Linie.svg" /></div>
        <div class="col-md-12" style="height: 50px"><h1></h1></div>
        <div class="col-md-6"></div>
        <div class="col-md-6 text-left">
            <h4 style=" font-size: 2vw">O nas</h4>
            <p style="font-size: 1vw">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur 
                sint occaecat cupidatat non proident, sunt in culpa qui 
                officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-md-6 text-left">
            <h4 style=" font-size: 2vw">O nas</h4>
            <p style="font-size: 1vw">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</div>




