<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
        @foreach (var item in ViewBag.dietetycy)
        {
            <a href="~/profil/details/@item.Id"> @item.imie</a>
        }


        <a href="#">Imie</a>
        <a href="#">Imie</a>
        <a href="#">Imie</a>
        <a href="#">Imie</a>
    </div>
    <div class="col-md-4">
        @foreach (var item in ViewBag.trenerzy)
        {
            <a href="~/profil/details/@item.Id"> @item.imie</a>
        }
        <a href="#">Imie</a>
        <a href="#">Imie</a>
        <a href="#">Imie</a>
        <a href="#">Imie</a>
        <a href="#">Imie</a>
    </div>
    <div class="col-md-2">

    </div>
</div>