@model WebApplication.Models.PlanowanieTreningow

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Zaplanuj nowy trening</h1>

<h4>Planowanie Treningow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_treningu" class="control-label">Wybierz trening</label>
                <select asp-for="id_treningu" class="form-control" asp-items="ViewBag.id_treningu"></select>
            </div>
            @{
                if (ViewBag.polecany == null)
                {
                    <a>null, id_polecany = @ViewBag.idpol</a>

                }
                else
                {
                    <h4>Polecany trening: @ViewBag.polecany.nazwa</h4>
                }
            }


            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dzien" class="control-label"></label>
                <input asp-for="dzien" class="form-control" />
                <span asp-validation-for="dzien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Planuj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Index">Powrot do listy</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
