@model WebApplication.Models.RolaUzytkownika

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Odbieranie uprawnień</h1>

<h3>Napewno chcesz pozbawić użytkownika roli?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rola.nazwa)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uzytkownik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uzytkownik.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_uzytkownika" />
        <input type="hidden" asp-for="id_roli" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy ról</a>
    </form>
</div>
