@model WebApplication.Models.Cwiczenie

@{
    ViewData["Title"] = "Edycja Cwiczenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edycja</h1>

<h4>Ćwiczenie</h4>
<hr />
<div>
    <div>
        <form asp-action="Edit">
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="id_cwiczenia" />
                    <div class="form-group">
                        <label asp-for="nazwa" class="control-label"></label>
                        <input asp-for="nazwa" class="form-control" />
                        <span asp-validation-for="nazwa" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="spalone_kalorie" class="control-label"></label>
                        <input asp-for="spalone_kalorie" class="form-control" />
                        <span asp-validation-for="spalone_kalorie" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="id_kategorii" class="control-label">Wybierz kategorie</label>
                        <select asp-for="id_kategorii" class="form-control" asp-items="ViewBag.id_kategorii"></select>
                        <span asp-validation-for="id_kategorii" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label asp-for="opis" class="control-label"></label>
                <textarea  style="width: 100%; min-height: 200px" asp-for="opis" class="form-control"></textarea>
                <span asp-validation-for="opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Index">Powrot do listy ćwiczeń</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
