<div class="row">
    <div class="col-md-4">
        <div>
            <img style="height: 300px; width: 300px;" src="~/images/Profil.svg" />
        </div>
        <h3>Użytkownik</h3>
        <h5>Ocena:</h5>
        <h5>Opis</h5>
        <a>Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt 
        ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud 
        exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute 
        irure dolor in reprehenderit in voluptate 
        velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.</a>

    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 50px; vertical-align: central;" scope="col">#</th>
                    <th scope="col">Posiłki</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" style="vertical-align: middle;">1</th>
                    <td>
                        <div class="row">
                            <div>
                                <img style="height: 50px; width: 50px;" class="rounded float-left" src="~/images/meal.jpg" />
                            </div>
                            <div style="margin: auto; width: 50%; padding: 10px; ">
                                <h5>Danie</h5>
                            </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" style="vertical-align: middle;">2</th>
                    <td>
                        <div class="row">
                            <div>
                                <img style="height: 50px; width: 50px;" class="rounded float-left" src="~/images/meal.jpg" />
                            </div>
                            <div style="margin: auto; width: 50%; padding: 10px; ">
                                <h5>Danie</h5>
                            </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" style="vertical-align: middle;">3</th>
                    <td>
                        <div class="row">
                            <div>
                                <img style="height: 50px; width: 50px;" class="rounded float-left" src="~/images/meal.jpg" />
                            </div>
                            <div style="margin: auto; width: 50%; padding: 10px; ">
                                <h5>Danie</h5>
                            </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" style="vertical-align: middle;">4</th>
                    <td>
                        <div class="row">
                            <div>
                                <img style="height: 50px; width: 50px;" class="rounded float-left" src="~/images/meal.jpg" />
                            </div>
                            <div style="margin: auto; width: 50%; padding: 10px; ">
                                <h5>Danie</h5>
                            </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" style="vertical-align: middle;">5</th>
                    <td>
                        <div class="row">
                            <div>
                                <img style="height: 50px; width: 50px;" class="rounded float-left" src="~/images/meal.jpg" />
                            </div>
                            <div style="margin: auto; width: 50%; padding: 10px; ">
                                <h5>Danie</h5>
                            </div>

                        </div>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>
