@model WebApplication.Models.PlanowaniePosilkow

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Stwórz</h1>

<h4>Planowanie Posilkow</h4>
<hr />
<form asp-action="Create">
    <div class="col-md-12 row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-4">
            <label asp-for="data" class="control-label">Data</label>
            <input asp-for="data" class="form-control" />
            <span asp-validation-for="data" class="text-danger"></span>
        </div>

        <div class="form-group col-md-8">
            <label asp-for="id_posilku" class="control-label">Posiłki</label>
            <select asp-for="id_posilku" multiple class="form-control form-control-lg" style="min-height: 50vh" asp-items="ViewBag.id_posilku"></select>
        </div>

        @{
            if (ViewBag.polecany == null)
            {
                <a>null</a>
            }
            else
            {
                <h4>Polecany trening: @ViewBag.polecany.nazwa</h4>
            }
        }

        <div class="form-group">
            <input type="submit" value="Stwórz" class="btn btn-primary" />
        </div>

    </div>
</form>
<div>
    @*<a asp-action="Index">Powrot do listy</a>*@
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
