@*nie działa*@
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Opis</th>
                <th scope="col">Liczba powtórzeń</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.trainingDetails)
            {
                    <tr>
                        <th scope="row">@item.cwiczenie.nazwa</th>
                        <td>@item.cwiczenie.opis</td>
                        <td>@item.liczba_powtorzen</td>
                    </tr>
            }

        </tbody>
    </table>
</div>
