@model IEnumerable<WebApplication.Models.Rola>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/navigation.css">
</head>
<body>
    <h1>Role</h1>

    <nav class="navigation">
        <a asp-action="Create" style="text-decoration:none"><button class="navigation">Stwórz nową</button></a>
    </nav>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nazwa)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nazwa)
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id_roli">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </body>
</html>