@{
    ViewData["Title"] = "Moje Role";
}
@{
    <div class="tab-pane fade show" role="tabpanel">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Czy masz te uprawnienia?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.allRoles)
                {
                    <tr>
                        <th scope="row">@item.id_roli</th>
                        <td>@item.nazwa</td>
                        @if (ViewBag.usersRoles.ContainsKey(item))
                        {
                            <td>Tak</td>
                        }
                        else
                        {
                            <td>Nie</td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>

}
